<app-header-funcionario></app-header-funcionario>

<div class="grid mx-[20%]">
  <form #formFunc="ngForm" class="space-y-5 my-8">
    <div>
      <label for="nome" class="text-sm font-medium text-gray-700 pr-4"
        >Nome:</label
      >
      <input
        class="mt-1 block w-full px-4 py-2 bg-white border border-gray-300 rounded-xl shadow-sm focus:ring-2 focus:ring-blue-500 focus:outline-none"
        type="text"
        id="nome"
        name="nome"
        minlength="2"

        required
        [(ngModel)]="usuario.nome"
        #nome="ngModel"
      />
      <div
        class="bg-red-100 border border-red-400 text-red-700 p-3 rounded-md mt-2 shadow-md flex items-center"
        *ngIf="nome.errors && (nome.dirty || nome.touched)"
      >
        <div [hidden]="!nome.errors['required']">
          Digite o nome do funcionario.
        </div>
        <div [hidden]="!nome.errors['minlength']">
          O nome deve conter ao menos 2 caracteres.
        </div>
      </div>

    </div>

    <div class="grid grid-cols-2 gap-2">
      <div>
        <label for="tel" class="text-sm font-medium text-gray-700 pr-4"
          >Telefone:</label
        >
        <input
          class="mt-1 block w-full px-4 py-2 bg-white border border-gray-300 rounded-xl shadow-sm focus:ring-2 focus:ring-blue-500 focus:outline-none"
          type="text"
          id="idade"
          name="idade"
          required
          [(ngModel)]="usuario.telefone"
          #tel="ngModel"
        />
        <div
          *ngIf="tel.errors && (tel.dirty || tel.touched)"
          class="bg-red-100 border border-red-400 text-red-700 p-3 rounded-md mt-2 shadow-md flex items-center"
        >
  
          <div [hidden]="!tel.errors['required']" class="font-semibold">
            Digite o telefone da pessoa.
          </div>
        </div>
      </div>

      <div>
        <label for="cpf" class="text-sm font-medium text-gray-700 pr-4"
          >CPF:</label
        >
        <input
          class="mt-1 block w-full px-4 py-2 bg-white border border-gray-300 rounded-xl shadow-sm focus:ring-2 focus:ring-blue-500 focus:outline-none"
          type="text"
          id="data"
          name="data"
          required
          [(ngModel)]="usuario.cpf"
          #data="ngModel"
        />
        <div
          *ngIf="data.errors && (data.dirty || data.touched)"
          class="bg-red-100 border border-red-400 text-red-700 p-3 rounded-md mt-2 shadow-md flex items-center"
        >
          <div [hidden]="!data.errors['required']" class="font-semibold"></div>Digite o CPF.</div>
        </div>
      </div>
    

    <div>
      <div>
        <label for="email" class="text-sm font-medium text-gray-700 pr-4"
          >E-mail:</label
        >
        <input
          class="mt-1 block w-full px-4 py-2 bg-white border border-gray-300 rounded-xl shadow-sm focus:ring-2 focus:ring-blue-500 focus:outline-none"
          id="data"
          name="data"
          required
          [(ngModel)]="usuario.email"
          #data="ngModel"
        />
        <div
          *ngIf="data.errors && (data.dirty || data.touched)"
          class="bg-red-100 border border-red-400 text-red-700 p-3 rounded-md mt-2 shadow-md flex items-center"
        >
          <div [hidden]="!data.errors['required']">Digite o e-mail.</div>
        </div>
      </div>

      <div class="grid grid-cols-2 gap-2 mt-2">
        <button
          type="button"
          class="bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-xl transition duration-200"
          (click)="salvar()"
          [disabled]="!formFunc.form.valid"
        >
          <i aria-hidden="true"> </i> Salvar
        </button>
        <a
          [routerLink]="['/funcionario/listar']"
          class="bg-gray-600 hover:bg-gray-700 text-white font-semibold py-2 px-4 rounded-xl transition duration-200 text-center"
        >
          <i aria-hidden="true"></i> Voltar
        </a>
      </div>
    </div>
  </form>
</div>
