<app-header-funcionario></app-header-funcionario>
<div class="flex h-screen">
  <main class="flex-1 p-8">
    <section class="mb-8 text-center">
      <h2 class="text-xl font-semibold mb-3">
        Voos Programados nas Próximas 48 Horas
      </h2>
      <table class="table-auto mx-auto border-collapse border border-gray-300">
        <thead>
          <tr class="bg-gray-100">
            <th class="border border-gray-300 p-2">Data/Hora</th>
            <th class="border border-gray-300 p-2">Aeroporto Origem</th>
            <th class="border border-gray-300 p-2">Aeroporto Destino</th>
            <th class="border border-gray-300 p-2">Status</th>
            <th class="border border-gray-300 p-2">Opções</th>
          </tr>
        </thead>
        @for (voo of voos; track voo.id){
        <tbody>
          <tr>
            <td class="border border-gray-300 p-2">{{ voo.dataHora }}</td>
            <td class="border border-gray-300 p-2">{{ voo.origem }}</td>
            <td class="border border-gray-300 p-2">{{ voo.destino }}</td>
            <td class="border border-gray-300 p-2">{{ voo.status }}</td>

            <td
              class="border border-gray-300 p-2 flex justify-center space-x-2"
            >
              <button
                class="p-2 bg-green-500 text-white rounded hover:bg-green-600 transition  disabled:bg-gray-400 disabled:cursor-not-allowed"
                [disabled]="voo.status !== 'CONFIRMADO'"
                (click)="confirmar(voo)"
              >
                Confirmar
              </button>
              <button
              [disabled]="voo.status !== 'CONFIRMADO'"
                class="p-2 bg-red-500 text-white rounded hover:bg-red-600 transition disabled:bg-gray-400 disabled:cursor-not-allowed"
                (click)="cancelar(voo)"
                >
                Cancelar
              </button>
              <button
              (click)="realizar(voo)"
              [disabled]="voo.status !== 'CONFIRMADO'"
                class="p-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition disabled:bg-gray-400 disabled:cursor-not-allowed"
              >
                Realizar
              </button>
            </td>
          </tr>
        </tbody>
        }
      </table>
    </section>
  </main>
</div>
