<div class="flex h-screen">
      
    <!-- Conteúdo principal -->
    <div class="flex-1 flex flex-col">
      <!-- Barra superior -->
      <header class="flex items-center justify-between bg-blue-500 text-white p-4">
        <div>
          <h1 class="text-lg font-bold">Bem-vindo, Funcionario!</h1>
        </div>
        <div>
          <img src="assets/img/user-avatar.png" alt="Foto do Usuário" class="w-8 h-8 rounded-full">
        </div>
      </header>
  
      <!-- Conteúdo central -->
      <main class="flex-1 p-8">
        <section class="mb-8 text-center">
          <h2 class="text-xl font-semibold mb-3">Voos Programados nas Próximas 48 Horas</h2>
          <table class="table-auto mx-auto border-collapse border border-gray-300">
            <thead>
              <tr class="bg-gray-100">
                <th class="border border-gray-300 p-2">Data/Hora</th>
                <th class="border border-gray-300 p-2">Aeroporto Origem</th>
                <th class="border border-gray-300 p-2">Aeroporto Destino</th>
                <th class="border border-gray-300 p-2">Status</th>
                <th class="border border-gray-300 p-2">Opções</th>
                
              </tr>
            </thead>
            @for (reserva of reservas; track reserva.id){
            <tbody>
              <tr>
                <td class="border border-gray-300 p-2">{{ reserva.dataHora }}</td>
                <td class="border border-gray-300 p-2">{{ reserva.origem }}</td>
                <td class="border border-gray-300 p-2">{{ reserva.destino }}</td>
                <td class="border border-gray-300 p-2">{{ reserva.status }}</td>
            
                <td class="border border-gray-300 p-2 flex justify-center space-x-2">
                  <button
                    class="p-2 bg-green-500 text-white rounded hover:bg-green-600 transition"
                    >Confirmar</button>
                  <button 
                    class="p-2 bg-red-500 text-white rounded hover:bg-red-600 transition"
                    >Cancelar</button>
                    <button 
                    class="p-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition"
                    >Realizar</button>
                </td>
              </tr>
            </tbody>
        }
          </table>
        </section>
      </main>
    </div>
  </div>
  