<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <section class="form-section">
            <div>
                <img src="/assets/img/logo.jpg" alt="">
                <h2>Login</h2>
            </div>
            <form class="example-form">
                <input type="text" placeholder="Email" name="email" required>
                <div></div>
                <input type="password" placeholder="Senha" name="password" required>
                <div *ngIf="loginError" class="error-message">
                    {{loginError}}
                </div>
                <div class="btn-wraper">
                    <button type="submit">Entrar</button>
                    <span> ou </span>
                    <button>Criar Conta</button>                    
                </div>
            </form>
            <p>{{loginErrorConta}}</p>
        </section>
        <section class="main-section">
            <h1>SkyJet Airlines</h1>
        </section>
    </main>
</body>
</html>
